<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#">Nhân sự</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= path === '/' ? 'active':''%>">
        <a class="nav-link" href="/">Điểm danh </a>
      </li>
      <li class="nav-item <%= path === '/profile' ? 'active':''%>">
        <a class="nav-link" href="/profile">Cá nhân</a>
      </li>
      <li class="nav-item <%= path === '/work-hour' ? 'active':''%>">
        <a class="nav-link" href="/work-hour">Giờ làm việc</a>
      </li>
      <li class="nav-item <%= path === '/covid' ? 'active':''%>">
        <a class="nav-link" href="/covid">Covid</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <% if(isAuthenticated) {%>
      <li class="nav-item <%= path === '/logout' ? 'active':''%>">
        <form action="/logout" method="POST">
          <input type="hidden" />
          <button class="btn btn-primary" type="submit">Logout</button>
        </form>
      </li>

      <% }else{%>
      <li class="nav-item <%= path === '/login' ? 'active':''%>">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item <%= path === '/signup' ? 'active':''%>">
        <a class="nav-link" href="/signup">Signup</a>
      </li>
      <% }%>
    </ul>
  </div>
</nav>
