<%- include('./includes/head.ejs') %>
</head>
<body class="h-100">
    <%- include('./includes/navigation.ejs') %>

    <!-- Body -->

    <h1 class="text-center">Điểm danh/kết thúc làm</h1>
    <div class="container">
      <div class="card my-3">
        <div class="card-header">
          Lựa chọn các chức năng sau:
        </div>
        <div class="card-body">
          <a class="btn btn-primary mx-2 disabled">
            Điểm danh/ Kết thúc làm việc
          </a>
          <a class="btn btn-primary mx-2" href="/leave">Xin nghỉ phép</a>
        </div>
      </div>
    <% if(user.isWork){%>
      <div class="card my-3">
        <div class="card-header">
          <h4>Kết thúc làm</h4>
        </div>
        <div class="card-body">
          <form action="/checkout" method="POST">
            <div class="row">
              <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="row">
                  <div class="col-md-4 col-sm-6 col-xs-6"><p>Tên nhân viên:</p></div>
                  <div class="col-md-8 col-sm-6 col-xs-6">
                    <span><%= user.fullname %></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="row">
                  <div class="col-md-4 col-sm-6 col-xs-6"><p>Trạng thái:</p></div>
                  <div class="col-md-8 col-sm-6 col-xs-6">
                    <span>Làm việc</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="row">
                  <div class="col-md-4 col-sm-6 col-xs-6"><p>Thời gian bắt đầu:</p></div>
                  <div class="col-md-8 col-sm-6 col-xs-6">
                      <span><%= startDate%></span>
                  </div>
                </div>
              </div>
            </div>
  
            <button class="btn btn-primary" type="submit">
              Kết thúc làm việc
            </button>
          </form>
        </div>
      </div>
      
      

    <% }else{%>

      <div class="card my-3">
        <div class="card-header">
          <h4>Điểm danh</h4>
        </div>
        <div class="card-body">
          <form action="/checkin" method="POST">
            <div class="row">
              <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="row">
                  <div class="col-md-4 col-sm-6 col-xs-6"><p>Tên nhân viên:</p></div>
                  <div class="col-md-8 col-sm-6 col-xs-6">
                    <span>Mai quốc Huy</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="row">
                  <div class="col-md-4 col-sm-6 col-xs-6"><p>Trạng thái:</p></div>
                  <div class="col-md-8 col-sm-6 col-xs-6">
                    <span>Không làm việc</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="row">
                  <div class="col-md-4 col-sm-6 col-xs-6"><p>Nơi làm việc</p></div>
                  <div class="col-md-8 col-sm-6 col-xs-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="workPlace"
                        id="workPlace1"
                        value="1"
                        checked
                      />
                      <label class="form-check-label" for="workPlace1">
                        Làm việc tại công ty
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="workPlace"
                        id="workPlace2"
                        value="2"
                      />
                      <label class="form-check-label" for="workPlace2">
                        Làm việc tại nhà
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="workPlace"
                        id="workPlace3"
                        value="3"
                      />
                      <label class="form-check-label" for="workPlace3">
                        Làm việc tại nơi khách hàng
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <button class="btn btn-primary" type="submit">Điểm danh</button>
          </form>
        </div>
      </div>
      <% }%>
      <% if(!user.isWork){%>
      <div class="card my-3">
        <div class="card-header">
          <h4 class="text-center">Chi tiết phiên làm việc</h4>
        </div>
        <div class="card-body">
         
            
              <% if(workedHour !== null){%>
                  
                    <table class="table">
           
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Bắt đầu</th>
                          <th scope="col">Kết thúc</th>
                          <th scope="col">Thời gian</th>
                          <th scope="col">Nơi làm việc</th>
            
                        </tr>
                      </thead>

                      <tbody>
                        <tr>
                          <th colspan="5" class="text-center"><%= workedHour.workDate%></th>
                        </tr>
                        <% workedHour.sessionWorks.forEach((sessionWork,index) =>{ %>
                          
                        <tr>
                          <th scope="row"><%= index+1 %></th>
                          <td><%= sessionWork.startHour%></td>
                          <td><%= sessionWork.endHour %></td>
                          <td><%= sessionWork.hourdiff %></td>
                          <td><%= sessionWork.workPlace%></td>
                        </tr>
                        <% })%>
                    
                        <tr>
                          <th colspan="3" rowspan="3" class="text-center">Tổng cộng</th>
                          <td ><%= workedHour.workHours1%></td>

                        </tr>
                      </tbody>
                    </table>
                  
                <% }else{%>
                <p>Chưa có dữ liệu</p>
                <% }%>
               

              

            
          
        </div>
      </div>
      <% }%>
        

    </div>
    
    
    

    <%- include('./includes/end.ejs') %>
