<%- include('./includes/head.ejs') %>
</head>
<body class="h-100">
    <%- include('./includes/navigation.ejs') %>

    <!-- Body -->

    <h1 class="text-center">Thông tin làm việc</h1>
    <div class="container">
      <div class="card my-3">
        <div class="card-header">
          Lựa chọn các chức năng sau:
        </div>
        <div class="card-body">
          <a class="btn btn-primary mx-2 disabled" href="/covid">
           Thân nhiệt
          </a>
          <a class="btn btn-primary mx-2" href="/covid/injection">Tiêm Covid</a>
          <a class="btn btn-primary mx-2" href="/covid/info-covid">Tình trạng Covid</a>
        </div>
      </div>
    
      <div class="card my-3">
        <div class="card-header">
          <h4 class="text-center">Đăng ký thân nhiệt</h4>
        </div>
        <div class="card-body">
          <form action="/covid/temp" method="POST">
            <div class="row"> <div class="col-md-4 input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Nhiệt độ cơ thể</span>
              </div>
              <input type="number" class="form-control" value='37.0' name="temp" min="0.0" step="0.1">
            </div>
            <div class="col-md-6 input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" >Ngày giờ</span>
                
              </div>
              <input type="datetime-local" class="form-control" name="date">
              
              
            </div></div>
           
            <p id="emailHelp" class="form-text text-muted">Để trống thông tin ngày giờ nếu là hiện tại</p>
            <button type="submit" class="btn btn-primary">Đăng ký</button>
          </form>
           
            
        </div>
      </div>

      <div class="card my-3">
        <div class="card-header">
          <h4 class="text-center">Chi tiết thân nhiệt</h4>
        </div>
        <div class="card-body">
          <% if(temps.length >0){%>
            <table class="table">
           
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Ngày</th>
                  <th scope="col">Nhiệt độ(độ C)</th>

  
                </tr>
              </thead>
              <tbody>
              
                  <% temps.forEach((temp,index) =>{ %>
                      <tr>
                        <th scope="row"><%= index+1 %></th>
                        <td><%= temp.dateTemp %></td>
                        <td><%= temp.temp%></td>

                      </tr>
                  <% })%>

                
              </tbody>
            </table>
          <% } else{%>
            <p>Chưa có thông tin</p>
          <% }%>
           
            
        </div>
      </div>

        
      
      

   

    <%- include('./includes/end.ejs') %>
