<%- include('./includes/head.ejs') %>
</head>
<body class="h-100">
    <%- include('./includes/navigation.ejs') %>

    <!-- Body -->

    <h1 class="text-center">Quá trình làm việc</h1>
    <div class="container">
      <div class="card my-3">
        <div class="card-header">
          Lựa chọn các chức năng sau:
        </div>

        <div class="card-body">
          <a class="btn btn-primary mx-2 disabled">
            Phiên làm việc
          </a>
          <a class="btn btn-primary mx-2" href="/work-hour/annual-leaves">Ngày phép</a>
          <a class="btn btn-primary mx-2" href="/work-hour/salary">Chi tiết lương</a>
          <a class="btn btn-primary mx-2" href="/work-hour/search">Tìm kiếm</a>
          
        </div>
          
      </div>
    
      <div class="card my-3">
        <div class="card-header">
          <h4 class="text-center">Phiên làm việc</h4>
        </div>
        <div class="card-body">
          <%- include('./includes/pagination.ejs',{currentPage: currentPage, hasNextPage: hasNextPage, nextPage: nextPage, 
            hasPreviousPage: hasPreviousPage, previousPage: previousPage, lastPage: lastPage})%>
            <form action="/work-hour/page-size" method="POST" >
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Hiển thị số ngày</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" name="itemsPerPage" onchange="this.form.submit()">
                  <% ["10","20","30","40"].forEach(item =>{%>
                    <% if(item === pageSize.toString()){%>
                      <option  value="<%= item%>" selected><%= item%></option>
                    <% }else{%>
                      <option value="<%= item%>"><%= item%></option>
                    <% }%>
                  
                  <% })%>
                </select>
              </div>
            </form>
          <table class="table">
           
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Bắt đầu</th>
                <th scope="col">Kết thúc</th>
                <th scope="col">Thời gian</th>
                <th scope="col">Nơi làm việc</th>

              </tr>
            </thead>
            <tbody>
              <% workedHours.forEach(workedHour=>{%>
                <tr>
                  <th colspan="5" class="text-center"><%= workedHour.workDate%></th>
                </tr>
                <% workedHour.sessionWorks.forEach((sessionWork,index) =>{ %>
                    <tr>
                      <th scope="row"><%= index+1 %></th>
                      <td><%= sessionWork.startHour%></td>
                      <td><%= sessionWork.endHour %></td>
                      <td><%= sessionWork.hourdiff %></td>
                      <td><%= sessionWork.workPlace%></td>
                    </tr>
                <% })%>
                <tr>
                  <th colspan="2" rowspan="3" class="text-center">Tổng cộng</th>
                  <th>Tổng giờ</th>
                  <td ><%= workedHour.workHours1%></td>

                </tr>
                <tr>
                  <th>Tổng thêm giờ</th>
                  <td ><%= workedHour.overTime%></td>

                </tr>
                <tr>
                  <th>Nghỉ phép</th>
                  <td ><% if(workedHour.leave){%><%= workedHour.leave %><%}else{%><%=0.0%><%}%></td>

                </tr>
              <% })%>
              
            </tbody>
          </table>
        </div>
      
      

   

    <%- include('./includes/end.ejs') %>
